/* *{Laver en regel for alle elementerne */
/*Fjerner prikkerne foran alle punkterne i listerne*/
*{
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-position: center;
    background-color: white;
    min-height: 100vh;
    /* 100vh sætter "view-heigh" til 100%*/
}
/*Rediger Navigation bar*/
.NavigationBar ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    opacity: 0.5;
}
.NavigationBar ul li {
    font-size: 20px;
    float: left;
}
.NavigationBar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.NavigationBar ul li a:hover {
    color: green;
}

/*Rediger Log-in side*/
div.Log-In h1 {
    font-size: 20px;
    text-align: center;
}
div.Log-In input {
    text-align: center;
}
div.Log-In input.button {
    text-align: center;
}

/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.button {
    display: inline-block;
    border-radius: 2px;
    background-color: darkseagreen;
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
