.bookingsTab {
    margin: auto;
    width: 80%;
    height: 200px;
}
.mineBookings {
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    padding-top: 5px;
    width: 90%;
}
#seBookings {
    text-align: center;
}
#bookingsShow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 2px;
    background-color: lightgray;
    padding-top: 5px;
    float: left;
    width: 90%;
    height: 70%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 #selectDiv{
    align-content: center;
    text-align: center;
}
