.calenderWrapper {
    margin: auto;
    width: 50%;
    height: 200px;
}
.weekdaysWrapper {
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
}
.datesWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 85%;
    text-align: center;
    grid-gap: 2px;
    background-color: white;
}
.datesWrapper div {
    background-color: lightgray;
}
.datesWrapper div:hover {
    background-color: #00CA85;
}

.noselect div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.calButtonWrapper {
    text-align: center;
    margin: auto;
}
.calButtonWrapper: {
    background-color: #00CA85;
}
.calList {
    margin-top: 10px;
    width: 7.5%;
}
.chosenDate {
    margin: auto;
    width: 15%;
    min-height: 17px;
    border: 2px solid lightslategrey;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

.calTimesWrapper {
    margin: auto;
    width: 40%;
    height: 200px;
}

.timesNav {
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    padding-top: 5px;
    width: 90%;
}

.timesShow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 2px;
    background-color: lightgray;
    padding-top: 5px;
    float: left;
    width: 90%;
    height: 61px;
}
.timeBook {
    float: right;
    width: 10%;
    position: inherit;
    visibility: hidden;
}