/* *{Laver en regel for alle elementerne */
/*Fjerner prikkerne foran alle punkterne i listerne*/
*{
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    background-position: center;
    background-color: white;
    /* 100vh sætter "view-heigh" til 100%*/
}
/*Rediger Navigation bar*/
.NavigationBar ul {
    list-style-type: none;
    margin: 15px;
    padding: 0px;
    overflow: hidden;
    background-color: #333333;
    opacity: 0.5;
    width: 100%;
}
.NavigationBar ul li {
    font-size: 20px;
    float: left;
}
.NavigationBar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.NavigationBar ul li a:hover {
    color: green;
}

/*Rediger Log-in side*/
div.Log-In h1 {
    font-size: 20px;
    text-align: center;
}
div.Log-In input {
    text-align: center;
}
div.Log-In input.button {
    text-align: center;
}


